@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Bai Jamjuree", sans-serif;
}

p {
  font-size: 18px;
}

.btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .btn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
.btn .btn-primary {
  width: 15%;
  padding: 1.2em;
  border-radius: 2em;
  border: none;
  color: white;
  cursor: pointer;
}
.btn .btn-primary:hover {
  opacity: 0.8;
}
.btn .btn-primary:nth-child(1) {
  background-color: hsl(171deg, 66%, 44%);
  border-bottom: 3px solid hsla(171deg, 81%, 19%, 0.323);
  box-shadow: rgb(38, 186, 164) 0px 25px 20px -20px;
}
.btn .btn-primary:nth-child(2) {
  background-color: hsl(233deg, 100%, 69%);
  border-bottom: 3px solid hsla(234deg, 69%, 29%, 0.358);
  box-shadow: rgb(97, 115, 255) 0px 25px 20px -20px;
}
@media screen and (max-width: 768px) {
  .btn .btn-primary {
    margin: 0 auto;
    width: 90%;
  }
}

main .cta .cta-content, .cta-btn, .btn-secondary {
  position: relative;
  top: 25%;
}

@media screen and (max-width: 768px) {
  .cta .btn-secondary {
    width: 80%;
  }
}

.cover {
  padding: 5rem 0 3rem 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .cover {
    padding: 3.5em 0 6.5rem 0;
  }
}
.cover .devices {
  width: 70%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .cover .devices {
    width: 95%;
  }
}

.footer-primary {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background: #F5F6F8;
}
@media screen and (max-width: 768px) {
  .footer-primary {
    height: 80vh;
    flex-direction: column;
    justify-content: unset;
    gap: 7rem;
  }
}
.footer-primary .nav {
  display: flex;
  gap: 8rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .footer-primary .nav {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
}
.footer-primary .nav .links {
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .footer-primary .nav .links .link {
    padding-bottom: 1.5rem;
  }
}
.footer-primary .nav .links li {
  cursor: pointer;
  transition: 0.3s;
}
.footer-primary .nav .links li:hover {
  color: hsl(171deg, 66%, 44%);
}
.footer-primary .footer-logo {
  width: auto;
  transform: translateX(120%);
}
@media screen and (max-width: 768px) {
  .footer-primary .footer-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    transform: unset;
  }
}
.footer-primary .footer-logo .fl {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .footer-primary .footer-logo .fl {
    width: 15%;
    transform: translateY(120%);
  }
}
.footer-primary .socials {
  display: inline-flex;
  gap: 1rem;
  font-size: 1.19rem;
}
.footer-primary .socials i {
  transition: 0.3s;
}
.footer-primary .socials i:hover {
  color: hsl(171deg, 66%, 44%);
}

main .info-1, .info-2, .info-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
main .info-1 .info-1-title, main .info-1 .info-2-title, main .info-1 .info-3-title, .info-2 .info-1-title, .info-2 .info-2-title, .info-2 .info-3-title, .info-3 .info-1-title, .info-3 .info-2-title, .info-3 .info-3-title {
  font-size: 2.3rem;
  font-weight: 600;
  color: hsl(210deg, 10%, 33%);
}
@media screen and (max-width: 768px) {
  main .info-1 .info-1-title, main .info-1 .info-2-title, main .info-1 .info-3-title, .info-2 .info-1-title, .info-2 .info-2-title, .info-2 .info-3-title, .info-3 .info-1-title, .info-3 .info-2-title, .info-3 .info-3-title {
    font-size: 2rem;
  }
}
main .info-1 .info-1-sub, main .info-1 .info-2-sub, main .info-1 .info-3-sub, .info-2 .info-1-sub, .info-2 .info-2-sub, .info-2 .info-3-sub, .info-3 .info-1-sub, .info-3 .info-2-sub, .info-3 .info-3-sub {
  margin: 0 auto;
  max-width: 50%;
  line-height: 2rem;
  color: hsl(201deg, 11%, 66%);
}
@media screen and (max-width: 768px) {
  main .info-1 .info-1-sub, main .info-1 .info-2-sub, main .info-1 .info-3-sub, .info-2 .info-1-sub, .info-2 .info-2-sub, .info-2 .info-3-sub, .info-3 .info-1-sub, .info-3 .info-2-sub, .info-3 .info-3-sub {
    max-width: 80%;
    font-size: 1rem;
  }
}

main .banner {
  display: flex;
  padding: 6rem 0;
  gap: 2em;
}
@media screen and (max-width: 768px) {
  main .banner {
    flex-direction: column;
    padding: 4rem 0 16rem 0;
  }
}
main .banner .comp {
  width: 55%;
  height: 100%;
  transform: translateX(-10%);
}
@media screen and (max-width: 768px) {
  main .banner .comp {
    margin: 0 auto;
    width: 82%;
    transform: unset;
  }
}
main .banner .banner-content {
  display: flex;
  flex-direction: column;
  gap: 3.3em;
  transform: translateY(16%);
  max-width: 24%;
}
@media screen and (max-width: 768px) {
  main .banner .banner-content {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
  }
}
main .banner .banner-content .banner-title {
  color: hsl(210deg, 10%, 33%);
}
@media screen and (max-width: 768px) {
  main .banner .banner-content .banner-title {
    font-size: 1.5rem;
  }
}
main .banner .banner-content .banner-sub {
  font-size: 1rem;
  color: hsl(201deg, 11%, 66%);
}
main .banner .banner-content .banner-info {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}
@media screen and (max-width: 768px) {
  main .banner .banner-content .banner-info {
    gap: 0.7rem;
  }
}

main .flex-primary {
  height: 50vh;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  main .flex-primary {
    margin-top: 5.5rem;
    height: 100vh;
    flex-direction: column;
    gap: 4rem;
  }
}
main .flex-primary .flex-box {
  margin: 0 auto;
  max-width: 25%;
}
@media screen and (max-width: 768px) {
  main .flex-primary .flex-box {
    display: flex;
    flex-direction: column;
    max-width: 85%;
  }
}
main .flex-primary .flex-box .flex-title {
  margin: 2rem 0 1rem 0;
  color: hsl(210deg, 10%, 33%);
}
main .flex-primary .flex-box .flex-sub {
  font-size: 1rem;
  color: hsl(201deg, 11%, 66%);
  line-height: 2rem;
}
@media screen and (max-width: 768px) {
  main .flex-primary .flex-box .icons-primary {
    margin: 0 auto;
    width: 12%;
  }
}

main .flex-secondary {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  main .flex-secondary {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 5rem;
  }
}
@media screen and (max-width: 768px) {
  main .flex-secondary .icons-secondary {
    width: 35%;
  }
}

main .cta {
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (max-width: 768px) {
  main .cta {
    height: 100vh;
  }
}
main .cta .cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
main .cta .cta-content .cta-title {
  font-size: 2rem;
  color: hsl(210deg, 10%, 33%);
}
@media screen and (max-width: 768px) {
  main .cta .cta-content .cta-title {
    font-size: 1.5rem;
    max-width: 70%;
  }
}
main .cta .cta-content .cta-sub {
  color: hsl(201deg, 11%, 66%);
  max-width: 50%;
  line-height: 2rem;
}
@media screen and (max-width: 768px) {
  main .cta .cta-content .cta-sub {
    max-width: 70%;
    font-size: 1rem;
  }
}

header {
  padding-top: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  gap: 2.3em;
}
@media screen and (max-width: 768px) {
  header {
    height: 97vh;
    padding-top: 7rem;
    background-image: url(../images/bg-header-mobile.png);
  }
}
header .header-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
header .header-content .header-title {
  font-size: 2.9rem;
  color: hsl(210deg, 10%, 33%);
}
@media screen and (max-width: 768px) {
  header .header-content .header-title {
    margin: 0 auto;
    font-size: 2rem;
    max-width: 90%;
  }
}
header .header-content .header-sub {
  margin: 0 auto;
  max-width: 50%;
  line-height: 1.5rem;
  color: hsl(201deg, 11%, 66%);
}
@media screen and (max-width: 768px) {
  header .header-content .header-sub {
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

/*# sourceMappingURL=styles.css.map */
