@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

p {
  font-size: 18px;
}

.btn {
  display: flex;
  gap: 1em;
  justify-content: center;
}
.btn .btn-primary {
  width: 15%;
  padding: 1.2em;
  border-radius: 2em;
  border: none;
  color: white;
  cursor: pointer;
}
.btn .btn-primary:hover {
  opacity: 0.8;
}
.btn .btn-primary:nth-child(1) {
  background-color: hsl(171deg, 66%, 44%);
  border-bottom: 3px solid hsla(171deg, 81%, 19%, 0.323);
}
.btn .btn-primary:nth-child(2) {
  background-color: hsl(233deg, 100%, 69%);
  border-bottom: 3px solid hsla(234deg, 69%, 29%, 0.358);
}

main .cta .cta-content, .cta-btn, .btn-secondary {
  position: relative;
  top: 25%;
}

.cover {
  padding: 5em 0 3em 0;
  display: flex;
  justify-content: center;
}
.cover .devices {
  width: 70%;
  height: 100%;
}

.footer-primary {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background: #F5F6F8;
}
.footer-primary .nav {
  display: flex;
  gap: 8rem;
  line-height: 2.5rem;
}
.footer-primary .nav .links {
  list-style-type: none;
}
.footer-primary .footer-logo {
  width: 4%;
  transform: translateX(120%);
}

main .info-1, .info-2, .info-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
main .info-1 .info-1-title, main .info-1 .info-2-title, main .info-1 .info-3-title, .info-2 .info-1-title, .info-2 .info-2-title, .info-2 .info-3-title, .info-3 .info-1-title, .info-3 .info-2-title, .info-3 .info-3-title {
  font-size: 2.3rem;
  font-weight: 600;
  color: hsl(210deg, 10%, 33%);
}
main .info-1 .info-1-sub, main .info-1 .info-2-sub, main .info-1 .info-3-sub, .info-2 .info-1-sub, .info-2 .info-2-sub, .info-2 .info-3-sub, .info-3 .info-1-sub, .info-3 .info-2-sub, .info-3 .info-3-sub {
  margin: 0 auto;
  max-width: 50%;
  line-height: 2rem;
  color: hsl(201deg, 11%, 66%);
}

main .banner {
  display: flex;
  padding: 6rem 0;
  gap: 2em;
}
main .banner .comp {
  width: 55%;
  height: 100%;
  transform: translateX(-10%);
}
main .banner .banner-content {
  display: flex;
  flex-direction: column;
  gap: 3.3em;
  transform: translateY(16%);
  max-width: 24%;
}
main .banner .banner-content .banner-title {
  color: hsl(210deg, 10%, 33%);
}
main .banner .banner-content .banner-sub {
  font-size: 1rem;
  color: hsl(201deg, 11%, 66%);
}
main .banner .banner-content .banner-info {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

main .flex-primary {
  height: 50vh;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  text-align: center;
}
main .flex-primary .flex-box {
  margin: 0 auto;
  max-width: 25%;
  gap: 2rem;
}
main .flex-primary .flex-box .flex-title {
  margin: 2rem 0 1rem 0;
  color: hsl(210deg, 10%, 33%);
}
main .flex-primary .flex-box .flex-sub {
  font-size: 1rem;
  color: hsl(201deg, 11%, 66%);
  line-height: 2rem;
}

main .flex-secondary {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

main .cta {
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .cta .cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
main .cta .cta-content .cta-title {
  font-size: 2rem;
  color: hsl(210deg, 10%, 33%);
}
main .cta .cta-content .cta-sub {
  color: hsl(201deg, 11%, 66%);
  max-width: 50%;
  line-height: 2rem;
}

header {
  padding-top: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  gap: 2.3em;
}
header .header-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
header .header-content .header-title {
  font-size: 2.9rem;
  color: hsl(210deg, 10%, 33%);
}
header .header-content .header-sub {
  margin: 0 auto;
  max-width: 50%;
  line-height: 1.5em;
  color: hsl(201deg, 11%, 66%);
}

/*# sourceMappingURL=styles.css.map */
