@use '../sass-utils/variables' as *;
.footer-primary {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background: #F5F6F8;

    @media screen and (max-width: 768px) {
        height: 80vh;
        flex-direction: column;
        justify-content: unset;
        gap: 7rem;
    }

    .nav {
        display: flex;
        gap: 8rem;
        line-height: 2.5rem;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            gap: 0;
        }

        .links {
            list-style-type: none;

            .link {
                @media screen and (max-width: 768px) {
                    padding-bottom: 1.5rem;
                }
            }

            li {
                cursor: pointer;
                transition: .3s;

                &:hover {
                    color: $Strong-Cyan;
                }
            }                   
        }
    }

    .footer-logo {
        width: auto;
        transform: translateX(120%);

        @media screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
            width: 100%;
            transform: unset;        }

        .fl {
            width: 40%;

            @media screen and (max-width: 768px) {
                width: 10%;
            transform: translateY(120%);
            }
        }
    
    }

    .socials {
        display: inline-flex;
        gap: 1rem;
        font-size: 1.2rem;
        color: #4E545B;

        @media screen and (max-width: 768px) {
            transform: translateY(-500%);
            gap: 2rem;
        }

        i {
            transition: .3s;

            &:hover {
                color: $Strong-Cyan;
            }
        }
    }
}
