@use '../sass-utils/variables' as *;

main .info-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;

    .info-1-title {
        font-size: 2.3rem;
        font-weight: 600;
        color: $Dark-Grayish-Blue;
    }

    .info-1-sub {
        margin: 0 auto;
        max-width: 50%;
        line-height: 2rem;
        color: $Grayish-Blue;
    }
}

main .banner {
    display: flex;
    padding-top: 3em;
    outline: 1px solid red;
    // gap: 5em; // TEST

    .comp {
        width: 50%;
        height: auto;
        transform: translateX(-10%);
    }

    .banner-info {
        display: flex;
        flex-direction: column;
        justify-content: center;  // TEST 
        gap: 2em;

        outline: 1px solid red; // REMOVE
    }
}