@use '../sass-utils/variables' as *;

main .info-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    .info-1-title {
        font-size: 2.3rem;
        font-weight: 600;
        color: $Dark-Grayish-Blue;
    }

    .info-1-sub {
        margin: 0 auto;
        max-width: 50%;
        line-height: 2rem;
        color: $Grayish-Blue;
    }
}

main .banner {
    display: flex;
    padding-top: 5rem;
    gap: 2em;

    .comp {
        width: 55%;
        height: auto;
        transform: translateX(-10%);
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        gap: 3.3em;
        transform: translateY(16%);
        max-width: 24%;

        .banner-title {
            color: $Dark-Grayish-Blue;
        }

        .banner-sub {
            font-size: 1rem;
            color: $Grayish-Blue;
        }


        .banner-info {
            display: flex;
            flex-direction: column;
            line-height: 2rem;
        }
    }
}