@use '../sass-utils/variables' as *;

main .info-1, .info-2, .info-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    .info-1-title, .info-2-title, .info-3-title {
        font-size: 2.3rem;
        font-weight: 600;
        color: $Dark-Grayish-Blue;
    }

    .info-1-sub, .info-2-sub, .info-3-sub {
        margin: 0 auto;
        max-width: 50%;
        line-height: 2rem;
        color: $Grayish-Blue;
    }
}


main .banner {
    display: flex;
    padding: 6rem 0;
    gap: 2em;

    .comp {
        width: 55%;
        height: 100%;
        transform: translateX(-10%);
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        gap: 3.3em;
        transform: translateY(16%);
        max-width: 24%;

        .banner-title {
            color: $Dark-Grayish-Blue;
        }

        .banner-sub {
            font-size: 1rem;
            color: $Grayish-Blue;
        }


        .banner-info {
            display: flex;
            flex-direction: column;
            line-height: 2rem;
        }
    }
}

main .flex-primary {
    height: 50vh;
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    text-align: center;

    .flex-box {
        margin: 0 auto;
        max-width: 25%;
        gap: 2rem;

        .flex-title {
            margin: 2rem 0 1rem 0;
            color: $Dark-Grayish-Blue;
        }

        .flex-sub {
            font-size: 1rem;
            color: $Grayish-Blue;
            line-height: 2rem;
        }
    }
}

main .flex-secondary {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

main .cta {
    height: 50vh;
    display: flex;
    flex-direction: column;


    outline: 1px solid red; // REMOVE

    .cta-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: 1px solid red; // REMOVE
    }
}
