@use '../sass-utils/variables' as *;

.btn {
    display: flex;
    gap: 1rem;
    justify-content: center;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .btn-primary {
        width: 15%;
        padding: 1.2em;
        border-radius: 2em;
        border: none;
        color: white;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }

        &:nth-child(1) {
            background-color: $Strong-Cyan;
            border-bottom: 3px solid hsla(171, 81%, 19%, 0.323);
            box-shadow: rgba(38, 186, 164) 0px 25px 20px -20px;

        }

        &:nth-child(2) {
            background-color: $Light-Blue;
            border-bottom: 3px solid hsla(234, 69%, 29%, 0.358);
            box-shadow: rgba(97, 115, 255) 0px 25px 20px -20px;
        }

        @media screen and (max-width: 768px) {
            margin: 0 auto;
            width: 90%;
        }
    }
}

main .cta .cta-content, .cta-btn, .btn-secondary {
    position: relative;
    top: 25%;
}